${require('../head.tpl')}

<!-- 面包屑 -->
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
  <li><a href="javascript:;">商品管理</a></li>
  <li class="active">商品分类</li>
</ol>

<!-- 页面内容 -->
<div class="container-fluid" id="page">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <button type="button" class="btn btn-success" @click="add">新增分类</button>
      </div>
      分类列表
    </div>
    <div class="panel-body">
      <div class="form-inline">
        <div class="form-group">
          <span>分类名称</span>
          <input type="text" class="form-control" placeholder="分类名称" />
        </div>
        <button class="btn btn-primary">检索</button>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <tr>
        <th width="30"><input type="checkbox" name="list" value="" /></th>
        <th width="200">排序</th>
        <th width="200">分类名称</th>
        <th width="200">描述</th>
        <th>操作</th>
      </tr> 
      <tr v-for="list in lists">
        <td><input type="checkbox" name="list" value="{{list.id}}" /></td>
        <td>{{list.category_order}}</td>
        <td>{{list.name}}</td>
        <td>HL0100001076012491</td>
        <td>
          <button type="button" class="btn btn-success btn-sm" @click="edit(list.id)">修改</button>
          <button type="button" class="btn btn-danger btn-sm" @click="del(list.id)">删除</button>
        </td>
      </tr>
    </table>
    <div class="panel-body">
      <div class="page_box" id="tablePageBox"></div>
    </div>
  </div>

  <!-- 新增分类 -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modalData.id ? '编辑' : '新增'}}分类</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">分类名称</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" v-model="modalData.name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">排序</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" v-model="modalData.id" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" @click="save">确定</button>
        </div>
      </div>
    </div>
  </div>

</div>

${require('../foot.tpl')}